apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: accesserator
  name: webhook-service
  namespace: accesserator-system
spec:
  internalTrafficPolicy: Cluster
  ipFamilies:
    - IPv4
  ipFamilyPolicy: SingleStack
  ports:
    - port: 443
      protocol: TCP
      targetPort: 9443
  selector:
    app: accesserator
  sessionAffinity: None
  type: ClusterIP