plugins:
  envoy_ext_authz_grpc:
    addr: :9191
    path: istio/authz/allow

decision_logs:
  console: true
        
services:
  ghcr-registry:
    url: https://ghcr.io
    type: oci
    credentials:
      bearer:
        scheme: "Bearer"
        token: "${GITHUB_TOKEN}"

bundles:
  authz:
    service: ghcr-registry
    resource: ghcr.io/kartverket/opa-bundle:latest
    polling:
      min_delay_seconds: 10
      max_delay_seconds: 30
    signing:
      keyid: bundle-verification-key

keys:
  bundle-verification-key:
    algorithm: RS256
    key: "${OPA_PUBLIC_KEY}"
